/* 스타일 초기화 */
* { margin: 0px ; padding: 0px ; }
header, body, footer { font-size: 14px; font-family: 나눔고딕,굴림,돋음,'Times New Roman',serif; width: 100%; }
header, footer { text-align : center ; }
body { margin: auto; }
footer { position: fixed; bottom: 0px; }

/* 공통 스타일 */
h1 { padding: 15px; font-size: 30px ; color: gray; }
h2 { font-size: 15px; color: white; }
h4 { font-size: 23px; color: gray;}
h5 { font-size: 17px; color: gray;}
h3 { margin: 14px; font-size: 25px; color: pink; text-shadow: 5px 5px 8px gray; }
h1, h2 { background-image: url(selab.jpg); background-repeat: repeat-x; }

img { border: 0; padding: 2px; }

nav { margin: 5px 5px; }
nav > span > a { font-style: bold; margin: 0 ; padding: 5px; border: 4px solid gray; float: right; text-decoration: none; background: pink; color: gray; }
nav > span > a:hover { background: #ff00ff; color: white; }
@media only screen and (min-width: 321px) and (orientation: landscape) {
	section { width: 80%; float: left; }
	aside { width: 20%; text-align: center; float: right; }
	footer { clear: both; }
}
.content  { clear: both; }
.section1 ul li { list-style-position: inside; list-style-image: url("li.jpg"); }

/* mintro.html 적용 스타일 */
#stu-pic { width: 13em; height: 15em; float: center; }

/* minfo.html 적용 스타일 */
#year-table { table-layout: auto; width: 80%; border-collapse: seperate; float:center; }
#year-table thead { background: #E4F2D0; }
#logo { position: fixed; top:100px; left: 70px; opacity: 0.5; } 
#mtoo-table { table-layout: auto; width: 80%; border-collapse: sperate; }
#mtoo-table thead {background: white;}

/* mstudy.html 적용 스타일 */
video { margin: 5px; width: 300px; height: 200px; }

/* mcareer.html 적용 스타일 */
.semi-pic { width: 10em; height: 10em; text-align: center; float: center;  }
#pic-container { overflow: hidden; }
#pic-container:hover { height: 500px; }
#pic1:hover { -webkit-transform: translate(300px,300px) scale(12,12); transform: scale(1); text-align: center; float: center; }
#pic2:hover { -webkit-transform: translate(300px,300px) scale(12,12) ; transform: scale(1); text-align: center; float: center; }
#pic3:hover { -webkit-transform: translate(200px,200px) scale(12,12); transform: scale(1); text-align: center; float: center; }


   li { list-style:none; }
  .picture { list-style:none; padding:0; margin:0; }
  .picture li { float:left; width:50%;}
  .picture li a {display:block; margin:5px; border: 1px }
  .picture li img { display:block; width:50%;  height:auto;}
  .picture li img:hover { display:block; width:100%;  height:auto;} 

